.card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.card-1-para {
  font-size: 14px;
  text-align: center;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  color: black;
  margin-top: 14px;
  font-weight: 600;
}
.img_ {
  height: 110px;
  width: 170px;
}

.img_1 {
  height: 400px;
  width: 300px;
}
.g-1 {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-iphone-13-pro-202203?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1645052290504");
  background-size: cover;
  width: 430px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid rgb(231, 221, 221);
  box-shadow: 0 0 10px 0px rgb(211, 200, 200);
  padding-left: 25px;
  padding-top: 30px;
}
.g-2 {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-ipad-air-202203?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1645636337374");
  background-size: cover;
  width: 430px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid rgb(231, 221, 221);
  box-shadow: 0 0 10px 0px rgb(211, 200, 200);
  padding-left: 25px;
  padding-top: 30px;
}
.g-3 {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-mac-studio-202203?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1645043848581");
  background-size: cover;
  width: 430px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid rgb(231, 221, 221);
  box-shadow: 0 0 10px 0px rgb(211, 200, 200);
  padding-left: 25px;
  padding-top: 30px;
}
.g-4 {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-studio-display-202203?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1645043848762");
  background-size: cover;
  width: 430px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid rgb(231, 221, 221);
  box-shadow: 0 0 10px 0px rgb(211, 200, 200);
  padding-left: 25px;
  padding-top: 30px;
}

.g-5 {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-iphone-se-202203_GEO_EMEA?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1645721593443");

  background-size: cover;
  min-width: 430px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid rgb(231, 221, 221);
  box-shadow: 0 0 10px 0px rgb(211, 200, 200);
  padding-left: 25px;
  padding-top: 30px;
}

.g-6 {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-iphone-13-202203?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1645052290452");
  background-size: cover;
  width: 430px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid rgb(231, 221, 221);
  box-shadow: 0 0 10px 0px rgb(211, 200, 200);
  padding-left: 25px;
  padding-top: 30px;
}

.g-7 {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-watch-bands-202203?wid=800&hei=1000&fmt=p-jpg&qlt=95&.v=1645052880599");
  background-size: cover;
  width: 430px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid rgb(231, 221, 221);
  box-shadow: 0 0 10px 0px rgb(211, 200, 200);
  padding-left: 25px;
  padding-top: 30px;
}
.g-eyebrow {
  font-size: 13px;
  font-weight: 300;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  font-weight: 600;
  color: #949497;
  width: 204px;
}
.g-header {
  color: black;
  font-size: 28px;
  font-weight: 600;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}
.g-content {
  font-size: 17px;
  font-weight: 400;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  color: #1d1d1f;
}
.g-2 .g-content {
  color: white;
}
.g-2 .g-eyebrow {
  color: white;
}
.g-2 .g-header {
  color: white;
}

.card-2 {
  height: 240px;
  width: 400px;
  flex-shrink: 0;

  border-radius: 20px;
  margin: 10px;
  border: 2px solid rgb(231, 221, 221);
  box-shadow: 0 0 10px 0px rgb(211, 200, 200);
  padding-left: 20px;
  padding-top: 25px;
  font-size: 24px;
  font-weight: 600;
  font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}

.card-3 {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-shrink: 0;
  border: 2px solid rgb(231, 221, 221);
  box-shadow: 0 0 10px 0px rgb(211, 200, 200);
  padding-left: 25px;
  padding-top: 30px;
  padding-right: 10px;
  border-radius: 20px;
  margin: 10px;
}
.card-3 h1 {
  font-size: 25px;
  font-weight: 600;
  color: #1d1d1f;
  margin-bottom: 20px;
}
.card-3 p {
  font-size: 15px;
  font-weight: 400;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  color: #1d1d1f;
}
.card-3 img {
  height: 300px;
  width: 300px;
  align-self: center;
}
.card-2 p {
  margin-top: 10px;
}
.img_2 {
  height: 400px;
  width: 300px;
}
